/* PC */
@media (min-width:64em ) {
    #header .mobile-menu-btn {
        display: none;
    }
}

/* Tablet */
@media (max-width:63.9375em) and (min-width : 46.25em ) {
    #header .mobile-menu-btn {
        display: none;
        }
    }   

    .contact-info{
        line-height: 2.7;
    }
/* Mobile & Tablet */
@media (max-width :63.9375em){

    .modal-header{
        width: 100%;
    }

    .btn {
        padding :15px 16px ;
        -webkit-appearance: none;
    }

    .contact-form .form-control{
        padding: 15px;
        margin-top: 16px;

    }

    #footer .social-list{
        font-size: 48px;

    }

    #footer .social-list li a {
        margin: 0 8px;
    }

    #footer .coppy-right a{
        padding: 12px 0;
        display: inline-block;
    }

}

/* Mobile */
@media (max-width :46.1875em) {
    .s-mt-8 {
        margin-top: 8px !important;
    }

    .s-col-full ,
    .s-full-width{
        width: 100% !important;
    }

    #nav > li{
        display: block;
    }

    #header{ 
        overflow: hidden;
    }
    #header .search-btn{
        display: none;
    }

    #nav {
        display: block;
    }

    #nav > li {
        display: block;
    }

    #nav li a{
        padding: 1px 24px;
    }

    #nav > li:first-child {
        display: inline-block;
    }

    #nav .subnav {
        position: initial;
        background: #333;
    }

    #nav .subnav a{
        color: #fff;
        padding: 5px 40px;
    }

    #content .member-img {
        width: 60%;
    }

    .contact-form {
        margin-top: 16px;
    }

    .contact-info{
        line-height: 2;
    }

}

